.alertWindow    {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10px auto auto auto;
    background-color: rgba(255, 0, 0, 0.6);
    width: 200px;
    height: 50px;
    border: dotted black 4px;
    border-radius: 10px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    animation: alert 3s ease-in-out;
    animation-iteration-count: 1;
    z-index: 99;
}

@keyframes alert {
    0%  {opacity: 0}
    50% {opacity: 1}
    100%    {opacity: 0}
}

.form   {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 448px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}


.second-row {
    max-width: 945px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto 0 auto;
    border: solid black 3px;
    padding: 50px 0 24px 0;
    border-radius: 20px;
}

.first-cell {
    display: flex;
    flex-direction: column;
}
.textarea {
    display: flex;
    flex-direction: column;
}
.buttons    {
    display: flex;
}

.table  {
    margin: 50px auto 0 auto;
    max-width: 800px;
    border: solid black 3px;
    border-radius: 20px;
    padding: 50px 73px 50px 73px;
}

#table, td  {
    border: solid black 1px;
    border-collapse: collapse;
}
td  {
    min-width: 130px;
    text-align: center;
    height: 40px;
}

.hidden {
    display: none;
}

.data   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 26.5px auto 0 auto;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
