.alertWindow    {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10px auto auto auto;
    background-color: rgba(255, 0, 0, 0.6);
    width: 200px;
    height: 50px;
    border: dotted black 4px;
    border-radius: 10px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    animation: alert 3s ease-in-out;
    animation-iteration-count: 1;
    z-index: 99;
}

@keyframes alert {
    0%  {opacity: 0}
    50% {opacity: 1}
    100%    {opacity: 0}
}

.form   {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 448px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 10px;
    background-color: white;

    font-size: 26px;
}
#login-field, #psw-field    {
    appearance: none;
    border: solid black 1px;
    border-radius: 5px;
    height: 26px;
    font-size: 20px;
}
input[id$=field]:focus    {
    outline: solid cyan 1px;
}
.form > .l-btn  {
    appearance: none;
    max-width: 100px;
    height: 30px;
    margin: 0 auto 0 auto;
    font-size: 15px;

    border: solid black 2px;
    border-radius: 10px;
}
.form > .l-btn:hover:not(:disabled)    {
    background-color: darkseagreen;
}
.form > .l-btn:active:not(:disabled)  {
    transform: scale(0.99);
}


.second-row {
    max-width: 945px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto 0 auto;
    border: solid black 3px;
    padding: 50px 0 24px 0;
    border-radius: 20px;
}

.first-cell {
    display: flex;
    flex-direction: column;
    height: 396px;
}
.textarea {
    display: flex;
    flex-direction: column;
}
.buttons    {
    display: flex;
}
#textarea-1, #textarea-2 {
    resize: none;
    max-width: 390px;
    height: 306px;
    flex: 2;
    overflow-y: scroll;
}

.table  {
    margin: 50px auto 0 auto;
    max-width: 800px;
    border: solid black 3px;
    border-radius: 20px;
    padding: 35px 73px 40px 73px;
}
.table > h1 {
    text-align: center;
}
.table > span   {
    margin-top: 20px;
}

#first-table    {
    /*margin: 0;*/
    padding: 0;
    max-width: 800px;
    /*width: 800px;*/
    margin: 0 auto 0 auto;
    /*border: solid black 1px;*/
    display: flex;
    flex-direction: column;
}

.row{
    max-width: 798px;
    /*width: 798px;*/
    /*border: solid black 1px;*/
    border-left: solid black 1px;
    border-right: solid black 1px;
    display: flex;
    justify-content: space-around;
}

.cell   {
    flex: 1;
    font-size: 20px;
    max-width: 131px;
    /*width: 131px;*/
    margin: 0 auto 0 auto;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    text-align: center;
    line-height: 32px;
}

#first-table > .row:nth-child(1)   {
    border-top: solid black 1px;
}
#first-table > .row:last-child  {
    border-bottom: solid black 1px;
}

/*#table, td  {
    border: solid black 1px;
    border-collapse: collapse;
}
td  {
    min-width: 130px;
    text-align: center;
    height: 40px;
}*/

.data   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 26.5px auto 0 auto;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    /*margin-left: -3px;*/
}

.links  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    margin-top: 4px;
}

.footer > a {
    text-decoration-line: none;
}

.hidden {
    display: none;
}

.disabled   {
    pointer-events: none;
    opacity: 0.5;
}
